/* SITE-WIDE CSS */
html {
  font-family: 'Trirong', serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

a {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: 300;
}

.uc {
  text-transform: uppercase;
}

.track {
  letter-spacing: 1pt;
}

/* TOP SECTION CSS */

.top-wrap {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  background-image: url("../img/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 1pt solid cyan; */
}

.top {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  /* border: 1pt solid yellow; */
  /* I had mistakenly set align-items instead of align-content and the relative positioning of .banner was not working properly. Once I fixed this it worked without issue. */
}

.head {
  width: 100%;
  height: 3rem;
  display: inline-flex;
  margin-top: 1rem;
  background-color: chocolate;
  border-radius: 0.25rem 0.8rem;
  /* border: 1pt solid magenta; */
}

.brand {
  display: flex;
  flex-grow: 2;
  /* width: auto; */
  align-items: center;
  /* border: 1pt solid orange; */
}

.logo {
  height: 1.3rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.logotype, .copyright {
  /* font-family: 'Trirong', serif; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.05rem;
  letter-spacing: 1px;
  /* border: 1pt solid cyan; */
}

.copyright {
  font-size: 0.9rem;
  padding-top: 0.15rem;
  color: black;
}

.menu {
  display: flex;
  padding-right: 1rem;
  /* border: 1pt solid yellow; */
}

.menu-item {
  padding: 1rem 1rem;
}

.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 5rem;
  top: 10rem;
  left: 2rem;
  background-color: aliceblue;
  border-radius: 0.25rem;
}

.banner-blurb {
  /* font-family: 'Trirong', serif; */
  font-size: 2.25rem;
  font-weight: 600;
  color: lightslategray;
  line-height: 1.2;
  letter-spacing: 2px;
  padding: 1.5rem 3.6rem 1.5rem 3.7rem;
  text-shadow: 1.5px 1.5px 0.5px white;
  /* border: 1pt solid magenta; */
}

/* MID SECTION CSS */

.mid-wrap {
  display: flex;
  justify-content: center;
  /* border: 3pt solid magenta; */
}

.mid {
  width: 960px;
  /* border: 2pt solid cyan; */
}

.mid-upper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  /* border: 1pt solid yellow; */
}

.services-wrap {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* align-items: center; */
  /* align-content: space-between; */
  /* border: 2pt solid gray; */
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 13rem;
}

.service-icon {
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  /* border: 1pt solid cyan; */
}

.service-name {
  width: 5rem;
  text-align: center;
  color: lightslategray;
  line-height: 1.2rem;
  /* border: 1pt solid magenta; */
}

.wide {
  width: 10rem;
}

.v-rule {
  border-left: 1px solid chocolate;
  border-right: 1px solid chocolate;
}

.exam {
  width: 3.5rem;
}

.fitting, .delivery {
  width: 5rem;
}

.op {
  opacity: 0.7;
}

.mid-lower {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
  /* border: 4pt solid cyan; */
}

.detail-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  margin: 0 2.5% 5rem 2.5%;
  /* border: 1pt solid yellow; */
}

.detail-title {
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: blanchedalmond;
  background-color: chocolate;
  border-radius: 0.2rem;
  /* border: 1pt solid magenta; */
}

.detail {
  font-size: 1rem;
  line-height: 1.4rem;
  /* border: 1pt solid cyan; */
}

.bottom-wrap {
  width: 100%;
  /* height: 30rem; */
  display: flex;
  justify-content: center;
  /* border: 5px solid yellow; */
}

.footer {
  width: 960px;
  display: flex;
  /* justify-content: flex-end; */
  align-content: flex-start;
  background-color: sandybrown;
  border-radius: 1rem 1rem 0 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* border: 3pt solid blue; */
}

.bottom {
  align-items: left;
  flex-grow: 0;
  padding-left: 2rem;
}
